[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
flask = "==2.3.3"
flask-cors = "==3.0.10"
flask-sqlalchemy = "==3.1.1"
sqlalchemy = "==2.0.36"
flask-migrate = "==4.0.5"
flask-admin = "==1.6.1"
flask-jwt-extended = "==4.6.0"
flask-swagger = "==0.2.14"
python-dotenv = "==1.0.1"
gunicorn = "==21.2.0"
psycopg = {version="==3.2.10", extras=["binary"]}
cloudinary = "==1.40.0"
wtforms = "==3.1.2"
typing-extensions = "*"
stripe = "==10.11.0"

[requires]
python_version = "3.13"

[scripts]
start = "flask run -p 3001 -h 0.0.0.0"
init = "flask db init"
migrate = "flask db migrate"
upgrade = "flask db upgrade"
downgrade = "flask db downgrade"
insert-test-data = "flask insert-test-data"
reset_db = "bash ./docs/assets/reset_migrations.bash"