flask==2.3.3
flask-cors==3.0.10
flask-sqlalchemy==3.1.1
sqlalchemy==2.0.36
flask-migrate==4.0.5
flask-admin==1.6.1
flask-jwt-extended==4.6.0
flask-swagger==0.2.14
python-dotenv==1.0.1
gunicorn==21.2.0
psycopg[binary]==3.2.10
cloudinary==1.40.0
wtforms==3.1.2
typing-extensions
stripe==10.11.0